    .sneaker__pages{
   margin-top: var(--mb-6);
    }
    .sneaker__pag{
   padding: 1rem;
   border: 1px solid var(--dark-color);
    }  
    .sneaker__pag:hover{
   background-color: var(--dark-color);
   color: var(--white-color);
    }

/*===== NEWSLETTER =====*/
    .newsletter__container{
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 2rem .5rem;
    border-radius: .5rem;
    text-align: center;
    }
    .newsletter__title{
       font-size: var(--bigger-font-size);
       margin-bottom: var(--mb-2);
    }
    .newsletter__subscribe{
       display: flex;
       column-gap: .5rem;
       background-color: var(--white-color);
       padding: .5rem;
       border-radius: .5rem;
    }
    .newsletter__input{
       outline: none;
       border: none;
       width: 90%;
       font-size: var(--normal-font-size);
    }
    .newsletter__input::placeholder{
       color: var(--dark-color);
       font-family: var(--body--size);
       font-size: var(--normal-font-size);
       font-weight: var(--font-semi-bold);
    }
/*===== FOOTER =====*/
    .footer__container{
       grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));  
    }
    .footer__box{
       margin-bottom: var(--mb-4);
       font-size: var(--big-font-size);
    }
    .footer__link{
       display: block;
       width: max-content;
       margin-bottom: var(--mb-1);
    }
    .footer__social{
       font-size: 1.5rem;
       margin-right: 1.25rem;
    }
    .footer__copy{
       padding-top: 3rem;
       font-size: var(--smaller-font-size);
       color: var(--dark-color-light);
       text-align: center;
    }

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px){
    .collection__container{
       grid-template-columns: 415px;
    }
    .collection__img{
       width: 260px;
    }
    .offer__container{
       grid-template-columns: max-content max-content;
    }
    .offer__data{
        text-align: center;
    }
    .new__mens{
       align-items: center;
    }
}    
@media screen and (min-width: 768px){
    body{
     margin: 0;
    }    
    .section{
     padding: 7rem 0 3rem;
    }  
    .section-title::after{
    width: 76px;
    }
    .nav{
     height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu{
     margin-left: auto;
    }
    .nav__list{
     display: flex;
    }
    .nav__items{
     margin-left: var(--mb-6);
     margin-bottom: 0;
    }
    .nav__toggle{
     display: none;
    }
    .home__container{
     height: 100vh;
     grid-template-columns: max-content max-content;
     justify-content: center;
     align-items: center;
    }
    .home__sneaker{
       order: 1;
    }
    .home__hape{
     width: 376px;
     height: 376px;
    }
    .home__img{
     width: 470px;
     top: 3.5rem;
     right: 0;
     left: -3rem;
    }
    .newsletter__container{
     grid-template-columns: max-content max-content;
     justify-content: center;
     align-items: center;
     padding: 4.5rem 2rem;
     column-gap: 3rem;
    }
    .new__description{
       margin-bottom: 0;
    }
    .newsletter__subscribe{
     width: 360px;
     height: max-content;
    }
}
@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home__container{
        column-gap: 8rem;
    }
    .collection__container{
        grid-template-columns: repeat(2, 415px);
    }
    .new__container{
        grid-template-columns: max-content 1fr;
    }
    .new__mens{
        align-items: initial;
        justify-content: flex-end;
        padding: 4rem 2rem;
    }
    .new__mens-img{
        margin-bottom: var(--mb-6);
    }
}